{
  "openapi" : "3.0.1",
  "info" : {
    "contact" : {
      "email" : "lmattson@imsglobal.org",
      "name" : "Lisa Mattson (COO), IMS Global",
      "url" : "http://www.imsglobal.org"
    },
    "license" : {
      "name" : "IMS Global",
      "url" : "https://www.imsglobal.org/license.html"
    },
    "termsOfService" : "Permission is granted to all parties to use excerpts from this document as needed in producing requests for proposals. The limited permissions granted above are perpetual and will not be revoked by IMS or its successors or assigns. THIS API DEFINITION IS BEING OFFERED WITHOUT ANY WARRANTY WHATSOEVER, AND IN PARTICULAR, ANY WARRANTY OF NONINFRINGEMENT IS EXPRESSLY DISCLAIMED. ANY USE OF THIS SPECIFICATION SHALL BE MADE ENTIRELY AT THE IMPLEMENTERS OWN RISK, AND NEITHER THE  CONSORTIUM, NOR ANY OF ITS MEMBERS OR SUBMITTERS, SHALL HAVE ANY LIABILITY WHATSOEVER TO ANY IMPLEMENTER OR THIRD PARTY FOR ANY DAMAGES OF ANY NATURE WHATSOEVER,  DIRECTLY OR INDIRECTLY, ARISING FROM THE USE OF THIS API DEFINITION.",
    "title" : "Competencies and Academic Standards Exchange (CASE) Service OpenAPI (YAML) Definition",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "http://www.imsglobal.org/ims/case/v1p0"
  }, {
    "url" : "https://www.imsglobal.org/ims/case/v1p0"
  } ],
  "tags" : [ {
    "description" : "The set of service operations that manage access to the Competency Framework Associations. Associations are to establish relationships between definitions from different sources. This interface manages the associations between CFDocuments and between CFItems.\n",
    "name" : "AssociationsManager"
  }, {
    "description" : "The set of service operations that manage access to the Competency Framework Definitions. This interface manages the definitions of the: Competency Framework Concepts, Competency Framework Subjects, Competency Framework Licenses, Competency Framework Item Types and Competency Framework Association Groupings.\n",
    "name" : "DefinitionsManager"
  }, {
    "description" : "The set of service operations that manage access to the Competency Framework Documents. Documents are the root entry point for the definition of an academic standard/competency. This interface manages the document descriptions only i.e. it does not support the management of Items, Associations, etc.\n",
    "name" : "DocumentsManager"
  }, {
    "description" : "The set of service operations that manage access to the Competency Framework Items. Items are the containers for the definitions in an academic standard/competency. This interface manages the Item descriptions only i.e. it does not support the management of Associations, etc.\n",
    "name" : "ItemsManager"
  }, {
    "description" : "The set of service operations that manage access to the Competency Framework Packages as a whole. A Competency Framework Package is a package that contains all of the arefacts that are used for the definition of a Competency Framework Document.\n",
    "name" : "PackagesManager"
  }, {
    "description" : "The set of service operations that manage access to the Competency Framework Rubrics. Rubrics associate the set of rubric criteria being defined for a specific academic standard/competency (defined as either a CFItem or a CFDocument).\n",
    "name" : "RubricsManager"
  } ],
  "paths" : {
    "/CFAssociationGroupings/{sourcedId}" : {
      "get" : {
        "description" : "This is a request to the Service Provider to provide the specified Competency Framework Association Grouping.  If the identified record cannot be found then the 'unknownobject' status code must be reported.\n",
        "operationId" : "getCFAssociationGrouping",
        "parameters" : [ {
          "description" : "The UUID that identifies the Competency Framework AssociationGrouping that is to be read from the service provider.\n",
          "in" : "path",
          "name" : "sourcedId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CFAssociationGrouping.Type"
                }
              }
            },
            "description" : "This is the response when the request has been completed successfully. It is the CFAssociationGrouping from the service provider.\n"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "An invalid selection field was supplied and data filtering on the selection criteria was not possible i.e. 'invalid_selection_field'. This is accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The request was not correctly authorised i.e. 'unauthorisedrequest'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is used to indicate that the server can be reached and process the request but refuses to take any further action i.e. 'forbidden'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "Either the supplied identifier is unknown in the Service Provider and so the object could not be changed or an invalid UUID has been supplied. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'. The statement 'Unknown Object' of 'Invalid UUID' should also be presented.\n"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The server is receiving too many requests i.e. 'server_busy'. Retry at a later time. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This code should be used only if there is catastrophic error and there is not a more appropriate code i.e. 'internal_server_error'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is the response data payload to be supplied when the HTTP code is NOT explicitly defined. This would be accompanied by the 'codeMajor/severity' values of 'failure/error' and the appropriate 'codeMinor' value. The associated HTTP code will also be supplied.\n"
          }
        },
        "summary" : "The REST read request message for the getCFAssociationGrouping() API call.",
        "tags" : [ "DefinitionsManager" ],
        "x-accepts" : "application/json"
      }
    },
    "/CFAssociations/{sourcedId}" : {
      "get" : {
        "description" : "This is a request to the service provider to provide the information for the specific Competency Framework Association. If the identified record cannot be found then the 'unknownobject' status code must be reported.\n",
        "operationId" : "getCFAssociation",
        "parameters" : [ {
          "description" : "The UUID that identifies the CFAssociation to be supplied.\n",
          "in" : "path",
          "name" : "sourcedId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CFAssociation.Type"
                }
              }
            },
            "description" : "This is the response when the request has been completed successfully. It is the CFAssociation from the service provider.\n"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "An invalid selection field was supplied and data filtering on the selection criteria was not possible i.e. 'invalid_selection_field'. This is accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The request was not correctly authorised i.e. 'unauthorisedrequest'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is used to indicate that the server can be reached and process the request but refuses to take any further action i.e. 'forbidden'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "Either the supplied identifier is unknown in the Service Provider and so the object could not be changed or an invalid UUID has been supplied. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'. The statement 'Unknown Object' of 'Invalid UUID' should also be presented.\n"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The server is receiving too many requests i.e. 'server_busy'. Retry at a later time. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This code should be used only if there is catastrophic error and there is not a more appropriate code i.e. 'internal_server_error'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is the response data payload to be supplied when the HTTP code is NOT explicitly defined. This would be accompanied by the 'codeMajor/severity' values of 'failure/error' and the appropriate 'codeMinor' value. The associated HTTP code will also be supplied.\n"
          }
        },
        "summary" : "The REST read request message for the getCFAssociation() API call.",
        "tags" : [ "AssociationsManager" ],
        "x-accepts" : "application/json"
      }
    },
    "/CFConcepts/{sourcedId}" : {
      "get" : {
        "description" : "This is a request to the Service Provider to provide the specified Competency Framework Concept and the set of children CFConcepts as identified by the hierarchy codes.  If the identified record cannot be found then the 'unknownobject' status code must be reported.\n",
        "operationId" : "getCFConcept",
        "parameters" : [ {
          "description" : "The UUID that identifies the Competency Framework Concept that is to be read from the service provider.\n",
          "in" : "path",
          "name" : "sourcedId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CFConceptSet.Type"
                }
              }
            },
            "description" : "This is the response when the request has been completed successfully. It is the CFConcept and child CFSConcepts from the service provider.\n"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "An invalid selection field was supplied and data filtering on the selection criteria was not possible i.e. 'invalid_selection_field'. This is accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The request was not correctly authorised i.e. 'unauthorisedrequest'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is used to indicate that the server can be reached and process the request but refuses to take any further action i.e. 'forbidden'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "Either the supplied identifier is unknown in the Service Provider and so the object could not be changed or an invalid UUID has been supplied. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'. The statement 'Unknown Object' of 'Invalid UUID' should also be presented.\n"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The server is receiving too many requests i.e. 'server_busy'. Retry at a later time. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This code should be used only if there is catastrophic error and there is not a more appropriate code i.e. 'internal_server_error'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is the response data payload to be supplied when the HTTP code is NOT explicitly defined. This would be accompanied by the 'codeMajor/severity' values of 'failure/error' and the appropriate 'codeMinor' value. The associated HTTP code will also be supplied.\n"
          }
        },
        "summary" : "The REST read request message for the getCFConcept() API call.",
        "tags" : [ "DefinitionsManager" ],
        "x-accepts" : "application/json"
      }
    },
    "/CFDocuments" : {
      "get" : {
        "description" : "This is a request to the Service Provider to provide all of the Competency Framework Documents. \n",
        "operationId" : "getAllCFDocuments",
        "parameters" : [ {
          "allowEmptyValue" : false,
          "description" : "This is used as part of the data pagination mechanism to control the download rate of data. The 'limit' defines the download segmentation value i.e. the maximum number of records to be contained in the response. The form of implementation is described in the corresponding binding document(s).\n",
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "default" : 100,
            "format" : "int32",
            "minimum" : 1,
            "type" : "integer"
          }
        }, {
          "allowEmptyValue" : false,
          "description" : "This is used as part of the data pagination mechanism to control the download rate of data. The 'offset' is the number of the first record to be supplied in the segmented response message. The form of implementation is described in the corresponding binding document(s).\n",
          "in" : "query",
          "name" : "offset",
          "schema" : {
            "default" : 0,
            "format" : "int32",
            "minimum" : 0,
            "type" : "integer"
          }
        }, {
          "allowEmptyValue" : false,
          "description" : "This is used as part of the sorting mechanism to be use by the service provider. The 'sort' identifies the sort criteria to be used for the records in the response message. Use with the orderBy parameter. The form of implementation is described in the corresponding binding document(s).\n",
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string"
          }
        }, {
          "allowEmptyValue" : false,
          "description" : "This is used as part of the sorting mechanism to be use by the service provider. This defines the form of ordering for response to the sorted request i.e. ascending (asc) or descending (desc). The form of implementation is described in the corresponding binding document(s).\n",
          "in" : "query",
          "name" : "orderBy",
          "schema" : {
            "enum" : [ "asc", "desc" ],
            "type" : "string"
          }
        }, {
          "allowEmptyValue" : false,
          "description" : "This is used for the data filtering mechanism to be applied by the service provider. It defines the filtering rules to be applied when identifying the records to be supplied in the response message. The form of implementation is described in the corresponding binding document(s).\n",
          "in" : "query",
          "name" : "filter",
          "schema" : {
            "type" : "string"
          }
        }, {
          "allowEmptyValue" : false,
          "description" : "This is used as part of the field selection mechanism to be applied by the service provider. This identifies the range of fields that should be supplied in the response message. The form of implementation is described in the corresponding binding document(s).\n",
          "explode" : false,
          "in" : "query",
          "name" : "fields",
          "schema" : {
            "items" : {
              "type" : "string"
            },
            "type" : "array"
          },
          "style" : "form"
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CFDocumentSet.Type"
                }
              }
            },
            "description" : "This is the response when the request has been completed successfully. It is the set of CFDocuments from the service provider.\n"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "An invalid selection field was supplied and data filtering on the selection criteria was not possible i.e. 'invalid_selection_field'. This is accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The request was not correctly authorised i.e. 'unauthorisedrequest'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is used to indicate that the server can be reached and process the request but refuses to take any further action i.e. 'forbidden'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "Either the supplied identifier is unknown in the Service Provider and so the object could not be changed or an invalid UUID has been supplied. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'. The statement 'Unknown Object' of 'Invalid UUID' should also be presented.\n"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The server is receiving too many requests i.e. 'server_busy'. Retry at a later time. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This code should be used only if there is catastrophic error and there is not a more appropriate code i.e. 'internal_server_error'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is the response data payload to be supplied when the HTTP code is NOT explicitly defined. This would be accompanied by the 'codeMajor/severity' values of 'failure/error' and the appropriate 'codeMinor' value. The associated HTTP code will also be supplied.\n"
          }
        },
        "summary" : "The REST read request message for the getAllCFDocuments() API call.",
        "tags" : [ "DocumentsManager" ],
        "x-accepts" : "application/json"
      }
    },
    "/CFDocuments/{sourcedId}" : {
      "get" : {
        "description" : "This is a request to the service provider to provide the information for the specific Competency Framework Document. If the identified record cannot be found then the 'unknownobject' status code must be reported.\n",
        "operationId" : "getCFDocument",
        "parameters" : [ {
          "description" : "The UUID that identifies the Competency Framework Document that is to be read from the service provider.\n",
          "in" : "path",
          "name" : "sourcedId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CFDocument.Type"
                }
              }
            },
            "description" : "This is the response when the request has been completed successfully. It is the CFDocument from the service provider.\n"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "An invalid selection field was supplied and data filtering on the selection criteria was not possible i.e. 'invalid_selection_field'. This is accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The request was not correctly authorised i.e. 'unauthorisedrequest'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is used to indicate that the server can be reached and process the request but refuses to take any further action i.e. 'forbidden'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "Either the supplied identifier is unknown in the Service Provider and so the object could not be changed or an invalid UUID has been supplied. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'. The statement 'Unknown Object' of 'Invalid UUID' should also be presented.\n"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The server is receiving too many requests i.e. 'server_busy'. Retry at a later time. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This code should be used only if there is catastrophic error and there is not a more appropriate code i.e. 'internal_server_error'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is the response data payload to be supplied when the HTTP code is NOT explicitly defined. This would be accompanied by the 'codeMajor/severity' values of 'failure/error' and the appropriate 'codeMinor' value. The associated HTTP code will also be supplied.\n"
          }
        },
        "summary" : "The REST read request message for the getCFDocument() API call.",
        "tags" : [ "DocumentsManager" ],
        "x-accepts" : "application/json"
      }
    },
    "/CFItemAssociations/{sourcedId}" : {
      "get" : {
        "description" : "This is a request to the Service Provider to provide the all of the Competency Associations for the specified CFItem and the information about the CFItem itself.  If the identified record cannot be found then the 'unknownobject' status code must be reported.\n",
        "operationId" : "getCFItemAssociations",
        "parameters" : [ {
          "description" : "The UUID that identifies the CFItem for which ALL associations are to be supplied.\n",
          "in" : "path",
          "name" : "sourcedId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CFAssociationSet.Type"
                }
              }
            },
            "description" : "This is the response when the request has been completed successfully. It is the CFItem and set of CFAssociations from the service provider.\n"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "An invalid selection field was supplied and data filtering on the selection criteria was not possible i.e. 'invalid_selection_field'. This is accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The request was not correctly authorised i.e. 'unauthorisedrequest'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is used to indicate that the server can be reached and process the request but refuses to take any further action i.e. 'forbidden'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "Either the supplied identifier is unknown in the Service Provider and so the object could not be changed or an invalid UUID has been supplied. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'. The statement 'Unknown Object' of 'Invalid UUID' should also be presented.\n"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The server is receiving too many requests i.e. 'server_busy'. Retry at a later time. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This code should be used only if there is catastrophic error and there is not a more appropriate code i.e. 'internal_server_error'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is the response data payload to be supplied when the HTTP code is NOT explicitly defined. This would be accompanied by the 'codeMajor/severity' values of 'failure/error' and the appropriate 'codeMinor' value. The associated HTTP code will also be supplied.\n"
          }
        },
        "summary" : "The REST read request message for the getCFItemAssociations() API call.",
        "tags" : [ "AssociationsManager" ],
        "x-accepts" : "application/json"
      }
    },
    "/CFItemTypes/{sourcedId}" : {
      "get" : {
        "description" : "This is a request to the Service Provider to provide the specified Competency Framework Item Type and the set of children CFItemTypes as identified by the hierarchy codes.  If the identified record cannot be found then the 'unknownobject' status code must be reported.\n",
        "operationId" : "getCFItemType",
        "parameters" : [ {
          "description" : "The UUID that identifies the Competency Framework ItemType that is to be read from the service provider.\n",
          "in" : "path",
          "name" : "sourcedId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CFItemTypeSet.Type"
                }
              }
            },
            "description" : "This is the response when the request has been completed successfully. It is the CFItemType and child CFItemTypes from the service provider.\n"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "An invalid selection field was supplied and data filtering on the selection criteria was not possible i.e. 'invalid_selection_field'. This is accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The request was not correctly authorised i.e. 'unauthorisedrequest'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is used to indicate that the server can be reached and process the request but refuses to take any further action i.e. 'forbidden'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "Either the supplied identifier is unknown in the Service Provider and so the object could not be changed or an invalid UUID has been supplied. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'. The statement 'Unknown Object' of 'Invalid UUID' should also be presented.\n"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The server is receiving too many requests i.e. 'server_busy'. Retry at a later time. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This code should be used only if there is catastrophic error and there is not a more appropriate code i.e. 'internal_server_error'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is the response data payload to be supplied when the HTTP code is NOT explicitly defined. This would be accompanied by the 'codeMajor/severity' values of 'failure/error' and the appropriate 'codeMinor' value. The associated HTTP code will also be supplied.\n"
          }
        },
        "summary" : "The REST read request message for the getCFItemType() API call.",
        "tags" : [ "DefinitionsManager" ],
        "x-accepts" : "application/json"
      }
    },
    "/CFItems/{sourcedId}" : {
      "get" : {
        "description" : "This is a request to the Service Provider to provide the specified Competency Framework Item.  If the identified record cannot be found then the 'unknownobject' status code must be reported.\n",
        "operationId" : "getCFItem",
        "parameters" : [ {
          "description" : "The UUID that identifies the Competency Framework Item that is to be read from the service provider.\n",
          "in" : "path",
          "name" : "sourcedId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CFItem.Type"
                }
              }
            },
            "description" : "This is the response when the request has been completed successfully. It is the CFItem from the service provider.\n"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "An invalid selection field was supplied and data filtering on the selection criteria was not possible i.e. 'invalid_selection_field'. This is accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The request was not correctly authorised i.e. 'unauthorisedrequest'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is used to indicate that the server can be reached and process the request but refuses to take any further action i.e. 'forbidden'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "Either the supplied identifier is unknown in the Service Provider and so the object could not be changed or an invalid UUID has been supplied. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'. The statement 'Unknown Object' of 'Invalid UUID' should also be presented.\n"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The server is receiving too many requests i.e. 'server_busy'. Retry at a later time. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This code should be used only if there is catastrophic error and there is not a more appropriate code i.e. 'internal_server_error'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is the response data payload to be supplied when the HTTP code is NOT explicitly defined. This would be accompanied by the 'codeMajor/severity' values of 'failure/error' and the appropriate 'codeMinor' value. The associated HTTP code will also be supplied.\n"
          }
        },
        "summary" : "The REST read request message for the getCFItem() API call.",
        "tags" : [ "ItemsManager" ],
        "x-accepts" : "application/json"
      }
    },
    "/CFLicenses/{sourcedId}" : {
      "get" : {
        "description" : "This is a request to the Service Provider to provide the specified Competency Framework License.  If the identified record cannot be found then the 'unknownobject' status code must be reported.\n",
        "operationId" : "getCFLicense",
        "parameters" : [ {
          "description" : "The UUID that identifies the Competency Framework License that is to be read from the service provider.\n",
          "in" : "path",
          "name" : "sourcedId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CFLicense.Type"
                }
              }
            },
            "description" : "This is the response when the request has been completed successfully. It is the CFLicense from the service provider.\n"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "An invalid selection field was supplied and data filtering on the selection criteria was not possible i.e. 'invalid_selection_field'. This is accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The request was not correctly authorised i.e. 'unauthorisedrequest'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is used to indicate that the server can be reached and process the request but refuses to take any further action i.e. 'forbidden'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "Either the supplied identifier is unknown in the Service Provider and so the object could not be changed or an invalid UUID has been supplied. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'. The statement 'Unknown Object' of 'Invalid UUID' should also be presented.\n"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The server is receiving too many requests i.e. 'server_busy'. Retry at a later time. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This code should be used only if there is catastrophic error and there is not a more appropriate code i.e. 'internal_server_error'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is the response data payload to be supplied when the HTTP code is NOT explicitly defined. This would be accompanied by the 'codeMajor/severity' values of 'failure/error' and the appropriate 'codeMinor' value. The associated HTTP code will also be supplied.\n"
          }
        },
        "summary" : "The REST read request message for the getCFLicense() API call.",
        "tags" : [ "DefinitionsManager" ],
        "x-accepts" : "application/json"
      }
    },
    "/CFPackages/{sourcedId}" : {
      "get" : {
        "description" : "This is a request to the service provider to provide the information for the specific Competency Framework Package. If the identified record cannot be found then the 'unknownobject' status code must be reported.\n",
        "operationId" : "getCFPackage",
        "parameters" : [ {
          "description" : "The UUID that identifies the Competency Framework Document that is to be read from the service provider and supplied with all of its component artefacts.\n",
          "in" : "path",
          "name" : "sourcedId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CFPackage.Type"
                }
              }
            },
            "description" : "This is the response when the request has been completed successfully. It is the CFPackage from the service provider.\n"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "An invalid selection field was supplied and data filtering on the selection criteria was not possible i.e. 'invalid_selection_field'. This is accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The request was not correctly authorised i.e. 'unauthorisedrequest'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is used to indicate that the server can be reached and process the request but refuses to take any further action i.e. 'forbidden'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "Either the supplied identifier is unknown in the Service Provider and so the object could not be changed or an invalid UUID has been supplied. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'. The statement 'Unknown Object' of 'Invalid UUID' should also be presented.\n"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The server is receiving too many requests i.e. 'server_busy'. Retry at a later time. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This code should be used only if there is catastrophic error and there is not a more appropriate code i.e. 'internal_server_error'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is the response data payload to be supplied when the HTTP code is NOT explicitly defined. This would be accompanied by the 'codeMajor/severity' values of 'failure/error' and the appropriate 'codeMinor' value. The associated HTTP code will also be supplied.\n"
          }
        },
        "summary" : "The REST read request message for the getCFPackage() API call.",
        "tags" : [ "PackagesManager" ],
        "x-accepts" : "application/json"
      }
    },
    "/CFRubrics/{sourcedId}" : {
      "get" : {
        "description" : "This is a request to the service provider to provide the information for the specific Competency Framework Rubric. If the identified record cannot be found then the 'unknownobject' status code must be reported.\n",
        "operationId" : "getCFRubric",
        "parameters" : [ {
          "description" : "The UUID that identifies the Competency Framework Rubric that is to be read from the service provider.\n",
          "in" : "path",
          "name" : "sourcedId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CFRubric.Type"
                }
              }
            },
            "description" : "This is the response when the request has been completed successfully. It is the CFRubric from the service provider.\n"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "An invalid selection field was supplied and data filtering on the selection criteria was not possible i.e. 'invalid_selection_field'. This is accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The request was not correctly authorised i.e. 'unauthorisedrequest'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is used to indicate that the server can be reached and process the request but refuses to take any further action i.e. 'forbidden'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "Either the supplied identifier is unknown in the Service Provider and so the object could not be changed or an invalid UUID has been supplied. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'. The statement 'Unknown Object' of 'Invalid UUID' should also be presented.\n"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The server is receiving too many requests i.e. 'server_busy'. Retry at a later time. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This code should be used only if there is catastrophic error and there is not a more appropriate code i.e. 'internal_server_error'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is the response data payload to be supplied when the HTTP code is NOT explicitly defined. This would be accompanied by the 'codeMajor/severity' values of 'failure/error' and the appropriate 'codeMinor' value. The associated HTTP code will also be supplied.\n"
          }
        },
        "summary" : "The REST read request message for the getCFRubric() API call.",
        "tags" : [ "RubricsManager" ],
        "x-accepts" : "application/json"
      }
    },
    "/CFSubjects/{sourcedId}" : {
      "get" : {
        "description" : "This is a request to the Service Provider to provide the specified Competency Framework Subject and the set of children CFSubjects as identified by the hierarchy codes.  If the identified record cannot be found then the 'unknownobject' status code must be reported.\n",
        "operationId" : "getCFSubject",
        "parameters" : [ {
          "description" : "The UUID that identifies the Competency Framework Subject that is to be read from the service provider.\n",
          "in" : "path",
          "name" : "sourcedId",
          "required" : true,
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CFSubjectSet.Type"
                }
              }
            },
            "description" : "This is the response when the request has been completed successfully. It is the CFSubject and child CFSubjects from the service provider.\n"
          },
          "400" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "An invalid selection field was supplied and data filtering on the selection criteria was not possible i.e. 'invalid_selection_field'. This is accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "401" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The request was not correctly authorised i.e. 'unauthorisedrequest'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "403" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is used to indicate that the server can be reached and process the request but refuses to take any further action i.e. 'forbidden'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "404" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "Either the supplied identifier is unknown in the Service Provider and so the object could not be changed or an invalid UUID has been supplied. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'. The statement 'Unknown Object' of 'Invalid UUID' should also be presented.\n"
          },
          "429" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "The server is receiving too many requests i.e. 'server_busy'. Retry at a later time. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "500" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This code should be used only if there is catastrophic error and there is not a more appropriate code i.e. 'internal_server_error'. This would be accompanied by the 'codeMajor/severity' values of 'failure/error'.\n"
          },
          "default" : {
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/imsx_StatusInfo.Type"
                }
              }
            },
            "description" : "This is the response data payload to be supplied when the HTTP code is NOT explicitly defined. This would be accompanied by the 'codeMajor/severity' values of 'failure/error' and the appropriate 'codeMinor' value. The associated HTTP code will also be supplied.\n"
          }
        },
        "summary" : "The REST read request message for the getCFSubject() API call.",
        "tags" : [ "DefinitionsManager" ],
        "x-accepts" : "application/json"
      }
    }
  },
  "components" : {
    "schemas" : {
      "CFAssociation.Type" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/CFPckgAssociation.Type"
        }, {
          "$ref" : "#/components/schemas/CFAssociation_Type_allOf"
        } ],
        "description" : "This is the container for the data about the relationship between two CFDocuments or between two CFItems outside of the context of a CFPackage or CFItem.\n"
      },
      "CFAssociationGrouping.Type" : {
        "description" : "This is the container for information about a set of associations that have been labelled as a group (the nature of the group being defined by this container).\n",
        "example" : {
          "identifier" : "identifier",
          "description" : "description",
          "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
          "title" : "title",
          "uri" : "https://openapi-generator.tech"
        },
        "properties" : {
          "identifier" : {
            "description" : "The data-type for establishing a Globally Unique Identifier (GUID). The form of the GUID is a Universally Unique Identifier (UUID) of 16 hexadecimal characters (lower case) in the format 8-4-4-4-12. All permitted versions (1-5) and variants (1-2) are supported.\n",
            "type" : "string"
          },
          "uri" : {
            "description" : "Model Primitive Datatype = AnyURI",
            "format" : "uri",
            "type" : "string"
          },
          "title" : {
            "description" : "Model Primitive Datatype = NormalizedString",
            "type" : "string"
          },
          "description" : {
            "description" : "Model Primitive Datatype = String",
            "type" : "string"
          },
          "lastChangeDateTime" : {
            "description" : "Model Primitive Datatype = DateTime",
            "format" : "date-time",
            "type" : "string"
          }
        },
        "required" : [ "identifier", "lastChangeDateTime", "title", "uri" ],
        "type" : "object"
      },
      "CFAssociationSet.Type" : {
        "description" : "This is the container for a collection of CFAssociations. There must be at least one CFAssociation. Note that the association can be between CFDocuments or between CFItems.\n",
        "example" : {
          "CFItem" : null,
          "CFAssociations" : [ {
            "identifier" : "identifier",
            "sequenceNumber" : 0,
            "associationType" : "isChildOf",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "destinationNodeURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "originNodeURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "CFAssociationGroupingURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "uri" : "https://openapi-generator.tech"
          }, {
            "identifier" : "identifier",
            "sequenceNumber" : 0,
            "associationType" : "isChildOf",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "destinationNodeURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "originNodeURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "CFAssociationGroupingURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "uri" : "https://openapi-generator.tech"
          } ]
        },
        "properties" : {
          "CFItem" : {
            "$ref" : "#/components/schemas/CFItem.Type"
          },
          "CFAssociations" : {
            "items" : {
              "$ref" : "#/components/schemas/CFPckgAssociation.Type"
            },
            "minItems" : 1,
            "type" : "array"
          }
        },
        "required" : [ "CFAssociations", "CFItem" ],
        "type" : "object"
      },
      "CFConcept.Type" : {
        "description" : "The container for the definition of a concept which is addressed by the competency framework.\n",
        "example" : {
          "identifier" : "identifier",
          "keywords" : "keywords",
          "hierarchyCode" : "hierarchyCode",
          "description" : "description",
          "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
          "title" : "title",
          "uri" : "https://openapi-generator.tech"
        },
        "properties" : {
          "identifier" : {
            "description" : "The data-type for establishing a Globally Unique Identifier (GUID). The form of the GUID is a Universally Unique Identifier (UUID) of 16 hexadecimal characters (lower case) in the format 8-4-4-4-12. All permitted versions (1-5) and variants (1-2) are supported.\n",
            "type" : "string"
          },
          "uri" : {
            "description" : "Model Primitive Datatype = AnyURI",
            "format" : "uri",
            "type" : "string"
          },
          "title" : {
            "description" : "Model Primitive Datatype = NormalizedString",
            "type" : "string"
          },
          "keywords" : {
            "description" : "Model Primitive Datatype = NormalizedString",
            "type" : "string"
          },
          "hierarchyCode" : {
            "description" : "Model Primitive Datatype = NormalizedString",
            "type" : "string"
          },
          "description" : {
            "description" : "Model Primitive Datatype = String",
            "type" : "string"
          },
          "lastChangeDateTime" : {
            "description" : "Model Primitive Datatype = DateTime",
            "format" : "date-time",
            "type" : "string"
          }
        },
        "required" : [ "hierarchyCode", "identifier", "lastChangeDateTime", "title", "uri" ],
        "type" : "object"
      },
      "CFConceptSet.Type" : {
        "description" : "The container for the set of CFConcepts supplied in the response payload. The relationship between the CFConcepts is determined by the 'hierarchyCode'. The first CFConcept is that which has been specified in the call. The other CFConcepts are the set of children as determined by their place in the 'hierarchyCode' of the CFConcept.\n",
        "example" : {
          "CFConcepts" : [ {
            "identifier" : "identifier",
            "keywords" : "keywords",
            "hierarchyCode" : "hierarchyCode",
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech"
          }, {
            "identifier" : "identifier",
            "keywords" : "keywords",
            "hierarchyCode" : "hierarchyCode",
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech"
          } ]
        },
        "properties" : {
          "CFConcepts" : {
            "items" : {
              "$ref" : "#/components/schemas/CFConcept.Type"
            },
            "minItems" : 1,
            "type" : "array"
          }
        },
        "required" : [ "CFConcepts" ],
        "type" : "object"
      },
      "CFDefinition.Type" : {
        "description" : "The container for the set of definitions used for the competency framework i.e. the set of CFSubjects, CFConcepts, CFItemTypes, CFAssociationGroupings and CFLicenses.\n",
        "example" : {
          "CFSubjects" : [ {
            "identifier" : "identifier",
            "hierarchyCode" : "hierarchyCode",
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech"
          }, {
            "identifier" : "identifier",
            "hierarchyCode" : "hierarchyCode",
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech"
          } ],
          "CFConcepts" : [ {
            "identifier" : "identifier",
            "keywords" : "keywords",
            "hierarchyCode" : "hierarchyCode",
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech"
          }, {
            "identifier" : "identifier",
            "keywords" : "keywords",
            "hierarchyCode" : "hierarchyCode",
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech"
          } ],
          "CFItemTypes" : [ {
            "identifier" : "identifier",
            "hierarchyCode" : "hierarchyCode",
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech",
            "typeCode" : "typeCode"
          }, {
            "identifier" : "identifier",
            "hierarchyCode" : "hierarchyCode",
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech",
            "typeCode" : "typeCode"
          } ],
          "CFLicenses" : [ {
            "identifier" : "identifier",
            "licenseText" : "licenseText",
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech"
          }, {
            "identifier" : "identifier",
            "licenseText" : "licenseText",
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech"
          } ],
          "CFAssociationGroupings" : [ {
            "identifier" : "identifier",
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech"
          }, {
            "identifier" : "identifier",
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech"
          } ]
        },
        "properties" : {
          "CFConcepts" : {
            "items" : {
              "$ref" : "#/components/schemas/CFConcept.Type"
            },
            "minItems" : 0,
            "type" : "array"
          },
          "CFSubjects" : {
            "items" : {
              "$ref" : "#/components/schemas/CFSubject.Type"
            },
            "minItems" : 0,
            "type" : "array"
          },
          "CFLicenses" : {
            "items" : {
              "$ref" : "#/components/schemas/CFLicense.Type"
            },
            "minItems" : 0,
            "type" : "array"
          },
          "CFItemTypes" : {
            "items" : {
              "$ref" : "#/components/schemas/CFItemType.Type"
            },
            "minItems" : 0,
            "type" : "array"
          },
          "CFAssociationGroupings" : {
            "items" : {
              "$ref" : "#/components/schemas/CFAssociationGrouping.Type"
            },
            "minItems" : 0,
            "type" : "array"
          }
        },
        "type" : "object"
      },
      "CFDocument.Type" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/CFPckgDocument.Type"
        }, {
          "$ref" : "#/components/schemas/CFDocument_Type_allOf"
        } ],
        "description" : "The container for the data about a competency framework document (CFDocument) when exchanged outside of the context of a CFPackage. A CFDocument is the root for the creation of a learning standard/competency.\n"
      },
      "CFDocumentSet.Type" : {
        "description" : "This is the container for a collection of CFDocuments. There must be at least one CFDocument.\n",
        "example" : {
          "CFDocuments" : [ null, null ]
        },
        "properties" : {
          "CFDocuments" : {
            "items" : {
              "$ref" : "#/components/schemas/CFDocument.Type"
            },
            "minItems" : 1,
            "type" : "array"
          }
        },
        "required" : [ "CFDocuments" ],
        "type" : "object"
      },
      "CFItem.Type" : {
        "allOf" : [ {
          "$ref" : "#/components/schemas/CFPckgItem.Type"
        }, {
          "$ref" : "#/components/schemas/CFItem_Type_allOf"
        } ],
        "description" : "This is the container for the CFItem data outside of the context of a CFPackage. This is the content that either describes a specific competency (learning objective) or describes a grouping of competencies within the taxonomy of a Competency Framework Document. \n"
      },
      "CFItemType.Type" : {
        "description" : "The container for the ItemType information use within the competency framework.\n",
        "example" : {
          "identifier" : "identifier",
          "hierarchyCode" : "hierarchyCode",
          "description" : "description",
          "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
          "title" : "title",
          "uri" : "https://openapi-generator.tech",
          "typeCode" : "typeCode"
        },
        "properties" : {
          "identifier" : {
            "description" : "The data-type for establishing a Globally Unique Identifier (GUID). The form of the GUID is a Universally Unique Identifier (UUID) of 16 hexadecimal characters (lower case) in the format 8-4-4-4-12. All permitted versions (1-5) and variants (1-2) are supported.\n",
            "type" : "string"
          },
          "uri" : {
            "description" : "Model Primitive Datatype = AnyURI",
            "format" : "uri",
            "type" : "string"
          },
          "title" : {
            "description" : "Model Primitive Datatype = NormalizedString",
            "type" : "string"
          },
          "description" : {
            "description" : "Model Primitive Datatype = String",
            "type" : "string"
          },
          "hierarchyCode" : {
            "description" : "Model Primitive Datatype = NormalizedString",
            "type" : "string"
          },
          "typeCode" : {
            "description" : "Model Primitive Datatype = NormalizedString",
            "type" : "string"
          },
          "lastChangeDateTime" : {
            "description" : "Model Primitive Datatype = DateTime",
            "format" : "date-time",
            "type" : "string"
          }
        },
        "required" : [ "description", "hierarchyCode", "identifier", "lastChangeDateTime", "title", "uri" ],
        "type" : "object"
      },
      "CFItemTypeSet.Type" : {
        "description" : "The container for the set of CFItemTypes supplied in the response payload. The relationship between the CFItemTypes is determined by the 'hierarchyCode'. The first CFItemType is that which has been specified in the call. The other CFItemTypes are the set of children as determined by their place in the 'hierarchyCode' of the CFItemType.\n",
        "example" : {
          "CFItemTypes" : [ {
            "identifier" : "identifier",
            "hierarchyCode" : "hierarchyCode",
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech",
            "typeCode" : "typeCode"
          }, {
            "identifier" : "identifier",
            "hierarchyCode" : "hierarchyCode",
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech",
            "typeCode" : "typeCode"
          } ]
        },
        "properties" : {
          "CFItemTypes" : {
            "items" : {
              "$ref" : "#/components/schemas/CFItemType.Type"
            },
            "minItems" : 1,
            "type" : "array"
          }
        },
        "required" : [ "CFItemTypes" ],
        "type" : "object"
      },
      "CFLicense.Type" : {
        "description" : "The container for the information about a license used within the competency framework.\n",
        "example" : {
          "identifier" : "identifier",
          "licenseText" : "licenseText",
          "description" : "description",
          "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
          "title" : "title",
          "uri" : "https://openapi-generator.tech"
        },
        "properties" : {
          "identifier" : {
            "description" : "The data-type for establishing a Globally Unique Identifier (GUID). The form of the GUID is a Universally Unique Identifier (UUID) of 16 hexadecimal characters (lower case) in the format 8-4-4-4-12. All permitted versions (1-5) and variants (1-2) are supported.\n",
            "type" : "string"
          },
          "uri" : {
            "description" : "Model Primitive Datatype = AnyURI",
            "format" : "uri",
            "type" : "string"
          },
          "title" : {
            "description" : "Model Primitive Datatype = NormalizedString",
            "type" : "string"
          },
          "description" : {
            "description" : "Model Primitive Datatype = String",
            "type" : "string"
          },
          "licenseText" : {
            "description" : "Model Primitive Datatype = String",
            "type" : "string"
          },
          "lastChangeDateTime" : {
            "description" : "Model Primitive Datatype = DateTime",
            "format" : "date-time",
            "type" : "string"
          }
        },
        "required" : [ "identifier", "lastChangeDateTime", "licenseText", "title", "uri" ],
        "type" : "object"
      },
      "CFPackage.Type" : {
        "description" : "This is the container for all of the data for a Competency Framework Package i.e. the root CFDocument and ALL of the corresponding components i.e. the CFItems, CFAssociations and CFDefinitions.\n",
        "example" : {
          "CFItems" : [ {
            "identifier" : "identifier",
            "listEnumeration" : "listEnumeration",
            "notes" : "notes",
            "licenseURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "fullStatement" : "fullStatement",
            "conceptKeywordsURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "statusStartDate" : "2000-01-23",
            "CFItemTypeURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "alternativeLabel" : "alternativeLabel",
            "CFItemType" : "CFItemType",
            "language" : "language",
            "statusEndDate" : "2000-01-23",
            "uri" : "https://openapi-generator.tech",
            "educationLevel" : [ "educationLevel", "educationLevel" ],
            "conceptKeywords" : [ "conceptKeywords", "conceptKeywords" ],
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "humanCodingScheme" : "humanCodingScheme",
            "abbreviatedStatement" : "abbreviatedStatement"
          }, {
            "identifier" : "identifier",
            "listEnumeration" : "listEnumeration",
            "notes" : "notes",
            "licenseURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "fullStatement" : "fullStatement",
            "conceptKeywordsURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "statusStartDate" : "2000-01-23",
            "CFItemTypeURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "alternativeLabel" : "alternativeLabel",
            "CFItemType" : "CFItemType",
            "language" : "language",
            "statusEndDate" : "2000-01-23",
            "uri" : "https://openapi-generator.tech",
            "educationLevel" : [ "educationLevel", "educationLevel" ],
            "conceptKeywords" : [ "conceptKeywords", "conceptKeywords" ],
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "humanCodingScheme" : "humanCodingScheme",
            "abbreviatedStatement" : "abbreviatedStatement"
          } ],
          "CFDocument" : {
            "identifier" : "identifier",
            "creator" : "creator",
            "officialSourceURL" : "https://openapi-generator.tech",
            "adoptionStatus" : "adoptionStatus",
            "notes" : "notes",
            "licenseURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "subject" : [ "subject", "subject" ],
            "statusStartDate" : "2000-01-23",
            "description" : "description",
            "language" : "language",
            "statusEndDate" : "2000-01-23",
            "title" : "title",
            "uri" : "https://openapi-generator.tech",
            "version" : "version",
            "subjectURI" : [ {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            }, {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            } ],
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "publisher" : "publisher"
          },
          "CFAssociations" : [ {
            "identifier" : "identifier",
            "sequenceNumber" : 0,
            "associationType" : "isChildOf",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "destinationNodeURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "originNodeURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "CFAssociationGroupingURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "uri" : "https://openapi-generator.tech"
          }, {
            "identifier" : "identifier",
            "sequenceNumber" : 0,
            "associationType" : "isChildOf",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "destinationNodeURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "originNodeURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "CFAssociationGroupingURI" : {
              "identifier" : "identifier",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            },
            "uri" : "https://openapi-generator.tech"
          } ],
          "CFDefinitions" : {
            "CFSubjects" : [ {
              "identifier" : "identifier",
              "hierarchyCode" : "hierarchyCode",
              "description" : "description",
              "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            }, {
              "identifier" : "identifier",
              "hierarchyCode" : "hierarchyCode",
              "description" : "description",
              "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            } ],
            "CFConcepts" : [ {
              "identifier" : "identifier",
              "keywords" : "keywords",
              "hierarchyCode" : "hierarchyCode",
              "description" : "description",
              "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            }, {
              "identifier" : "identifier",
              "keywords" : "keywords",
              "hierarchyCode" : "hierarchyCode",
              "description" : "description",
              "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            } ],
            "CFItemTypes" : [ {
              "identifier" : "identifier",
              "hierarchyCode" : "hierarchyCode",
              "description" : "description",
              "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
              "title" : "title",
              "uri" : "https://openapi-generator.tech",
              "typeCode" : "typeCode"
            }, {
              "identifier" : "identifier",
              "hierarchyCode" : "hierarchyCode",
              "description" : "description",
              "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
              "title" : "title",
              "uri" : "https://openapi-generator.tech",
              "typeCode" : "typeCode"
            } ],
            "CFLicenses" : [ {
              "identifier" : "identifier",
              "licenseText" : "licenseText",
              "description" : "description",
              "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            }, {
              "identifier" : "identifier",
              "licenseText" : "licenseText",
              "description" : "description",
              "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            } ],
            "CFAssociationGroupings" : [ {
              "identifier" : "identifier",
              "description" : "description",
              "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            }, {
              "identifier" : "identifier",
              "description" : "description",
              "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
              "title" : "title",
              "uri" : "https://openapi-generator.tech"
            } ]
          },
          "CFRubrics" : [ {
            "identifier" : "identifier",
            "CFRubricCriteria" : [ {
              "CFItemURI" : {
                "identifier" : "identifier",
                "title" : "title",
                "uri" : "https://openapi-generator.tech"
              },
              "identifier" : "identifier",
              "description" : "description",
              "weight" : 0.8008282,
              "rubricId" : "rubricId",
              "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
              "position" : 6,
              "CFRubricCriterionLevels" : [ {
                "feedback" : "feedback",
                "identifier" : "identifier",
                "score" : 1.4658129,
                "description" : "description",
                "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
                "position" : 5,
                "rubricCriterionId" : "rubricCriterionId",
                "uri" : "https://openapi-generator.tech",
                "quality" : "quality"
              }, {
                "feedback" : "feedback",
                "identifier" : "identifier",
                "score" : 1.4658129,
                "description" : "description",
                "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
                "position" : 5,
                "rubricCriterionId" : "rubricCriterionId",
                "uri" : "https://openapi-generator.tech",
                "quality" : "quality"
              } ],
              "category" : "category",
              "uri" : "https://openapi-generator.tech"
            }, {
              "CFItemURI" : {
                "identifier" : "identifier",
                "title" : "title",
                "uri" : "https://openapi-generator.tech"
              },
              "identifier" : "identifier",
              "description" : "description",
              "weight" : 0.8008282,
              "rubricId" : "rubricId",
              "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
              "position" : 6,
              "CFRubricCriterionLevels" : [ {
                "feedback" : "feedback",
                "identifier" : "identifier",
                "score" : 1.4658129,
                "description" : "description",
                "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
                "position" : 5,
                "rubricCriterionId" : "rubricCriterionId",
                "uri" : "https://openapi-generator.tech",
                "quality" : "quality"
              }, {
                "feedback" : "feedback",
                "identifier" : "identifier",
                "score" : 1.4658129,
                "description" : "description",
                "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
                "position" : 5,
                "rubricCriterionId" : "rubricCriterionId",
                "uri" : "https://openapi-generator.tech",
                "quality" : "quality"
              } ],
              "category" : "category",
              "uri" : "https://openapi-generator.tech"
            } ],
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech"
          }, {
            "identifier" : "identifier",
            "CFRubricCriteria" : [ {
              "CFItemURI" : {
                "identifier" : "identifier",
                "title" : "title",
                "uri" : "https://openapi-generator.tech"
              },
              "identifier" : "identifier",
              "description" : "description",
              "weight" : 0.8008282,
              "rubricId" : "rubricId",
              "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
              "position" : 6,
              "CFRubricCriterionLevels" : [ {
                "feedback" : "feedback",
                "identifier" : "identifier",
                "score" : 1.4658129,
                "description" : "description",
                "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
                "position" : 5,
                "rubricCriterionId" : "rubricCriterionId",
                "uri" : "https://openapi-generator.tech",
                "quality" : "quality"
              }, {
                "feedback" : "feedback",
                "identifier" : "identifier",
                "score" : 1.4658129,
                "description" : "description",
                "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
                "position" : 5,
                "rubricCriterionId" : "rubricCriterionId",
                "uri" : "https://openapi-generator.tech",
                "quality" : "quality"
              } ],
              "category" : "category",
              "uri" : "https://openapi-generator.tech"
            }, {
              "CFItemURI" : {
                "identifier" : "identifier",
                "title" : "title",
                "uri" : "https://openapi-generator.tech"
              },
              "identifier" : "identifier",
              "description" : "description",
              "weight" : 0.8008282,
              "rubricId" : "rubricId",
              "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
              "position" : 6,
              "CFRubricCriterionLevels" : [ {
                "feedback" : "feedback",
                "identifier" : "identifier",
                "score" : 1.4658129,
                "description" : "description",
                "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
                "position" : 5,
                "rubricCriterionId" : "rubricCriterionId",
                "uri" : "https://openapi-generator.tech",
                "quality" : "quality"
              }, {
                "feedback" : "feedback",
                "identifier" : "identifier",
                "score" : 1.4658129,
                "description" : "description",
                "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
                "position" : 5,
                "rubricCriterionId" : "rubricCriterionId",
                "uri" : "https://openapi-generator.tech",
                "quality" : "quality"
              } ],
              "category" : "category",
              "uri" : "https://openapi-generator.tech"
            } ],
            "description" : "description",
            "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
            "title" : "title",
            "uri" : "https://openapi-generator.tech"
          } ]
        },
        "properties" : {
          "CFDocument" : {
            "$ref" : "#/components/schemas/CFPckgDocument.Type"
          },
          "CFItems" : {
            "items" : {
              "$ref" : "#/components/schemas/CFPckgItem.Type"
            },
            "minItems" : 0,
            "type" : "array"
          },
          "CFAssociations" : {
            "items" : {
              "$ref" : "#/components/schemas/CFPckgAssociation.Type"
            },
            "minItems" : 0,
            "type" : "array"
          },
          "CFDefinitions" : {
            "$ref" : "#/components/schemas/CFDefinition.Type"
          },
          "CFRubrics" : {
            "items" : {
              "$ref" : "#/components/schemas/CFRubric.Type"
            },
            "minItems" : 0,
            "type" : "array"
          }
        },
        "required" : [ "CFDocument" ],
        "type" : "object"
      },
      "CFPckgAssociation.Type" : {
        "description" : "This is the container for the data about the relationship between two CFDocuments or between two CFItems within the context of a CFPackage.\n",
        "example" : {
          "identifier" : "identifier",
          "sequenceNumber" : 0,
          "associationType" : "isChildOf",
          "lastChangeDateTime" : "2000-01-23T04:56:07.000+00:00",
          "destinationNodeURI" : {
            "identifier" : "identifier",
            "title" : "title",
            "uri" : "https://openapi-generator.tech"
          },
          "originNodeURI" : {
            "identifier" : "identifier",
            "title" : "title",
            "uri" : "https://openapi-generator.tech"
          },
          "CFAssociationGroupingURI" : {
            "identifier" : "identifier",
            "title" : "title",
            "uri" : "https://openapi-generator.tech"
          },
          "uri" : "https://openapi-generator.tech"
        },
        "properties" : {
          "identifier" : {
[...]
